<div class="container">
  <h1>About TeaTime</h1>
  <h2>Discover and keep track of teas you like.</h2>

  <p>This simple app was written as a CRUD / Active Record practice. A user can:</p>
  <ul>
    <li>Create new teas</li>
    <li>Read / list all teas*</li>
    <li>Update tea names*</li>
    <li>Delete teas*</li>
    <li>Try (associate) teas and leave notes</li>
    <li>Dissociate teas</li>
  </ul>
  <p>* To be implemented.</p>

</div>
